In [1]:
# Package Installation
!pip install selenium beautifulsoup4
!apt-get update
!apt install chromium-chromedriver

Requirement already satisfied: selenium in /Users/harsha/anaconda3/lib/python3.11/site-packages (4.35.0)
Requirement already satisfied: beautifulsoup4 in /Users/harsha/anaconda3/lib/python3.11/site-packages (4.12.2)
Requirement already satisfied: urllib3[socks]<3.0,>=2.5.0 in /Users/harsha/anaconda3/lib/python3.11/site-packages (from selenium) (2.5.0)
Requirement already satisfied: trio~=0.30.0 in /Users/harsha/anaconda3/lib/python3.11/site-packages (from selenium) (0.30.0)
Requirement already satisfied: trio-websocket~=0.12.2 in /Users/harsha/anaconda3/lib/python3.11/site-packages (from selenium) (0.12.2)
Requirement already satisfied: certifi>=2025.6.15 in /Users/harsha/anaconda3/lib/python3.11/site-packages (from selenium) (2025.8.3)
Requirement already satisfied: typing_extensions~=4.14.0 in /Users/harsha/anaconda3/lib/python3.11/site-packages (from selenium) (4.14.1)
Requirement already satisfied: websocket-client~=1.8.0 in /Users/harsha/anaconda3/lib/python3.11/site-packages (from selenium) (1.8.0)
Requirement already satisfied: soupsieve>1.2 in /Users/harsha/anaconda3/lib/python3.11/site-packages (from beautifulsoup4) (2.4)
Requirement already satisfied: attrs>=23.2.0 in /Users/harsha/anaconda3/lib/python3.11/site-packages (from trio~=0.30.0->selenium) (25.3.0)
Requirement already satisfied: sortedcontainers in /Users/harsha/anaconda3/lib/python3.11/site-packages (from trio~=0.30.0->selenium) (2.4.0)
Requirement already satisfied: idna in /Users/harsha/anaconda3/lib/python3.11/site-packages (from trio~=0.30.0->selenium) (3.4)
Requirement already satisfied: outcome in /Users/harsha/anaconda3/lib/python3.11/site-packages (from trio~=0.30.0->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in /Users/harsha/anaconda3/lib/python3.11/site-packages (from trio~=0.30.0->selenium) (1.3.1)
Requirement already satisfied: wsproto>=0.14 in /Users/harsha/anaconda3/lib/python3.11/site-packages (from trio-websocket~=0.12.2->selenium) (1.2.0)
Requirement already satisfied: pysocks!=1.5.7,<2.0,>=1.5.6 in /Users/harsha/anaconda3/lib/python3.11/site-packages (from urllib3[socks]<3.0,>=2.5.0->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in /Users/harsha/anaconda3/lib/python3.11/site-packages (from wsproto>=0.14->trio-websocket~=0.12.2->selenium) (0.14.0)
zsh:1: command not found: apt-get
zsh:1: command not found: apt

In [2]:
import selenium
import pandas as pd
import warnings
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.chrome.options import Options
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException
import time

In [3]:
# Creating User Agent for Chrome

chrome_options = Options()
chrome_options.add_argument("--user-agent=Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/116.0.0.0 Safari/537.36")
chrome_options.add_argument("--disable-blink-features=AutomationControlled")

driver = webdriver.Chrome(service=Service("/usr/local/bin/chromedriver"), options=chrome_options)

driver.get("https://www.naukri.com/")

In [4]:
designation = driver.find_element(By.CLASS_NAME,'suggestor-input')
designation.send_keys('Data Analyst')

In [5]:
location = driver.find_element(By.XPATH, '//*[@id="root"]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input')
location.send_keys("Bangalore")

In [6]:
search = driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [7]:
job_titles=[]
company_names=[]
description=[]
location=[]
experience=[]
posted_day=[]

In [8]:

title_tags = driver.find_elements(By.XPATH, '//a[contains(@class,"title")]')

for i in title_tags:
    title = i.text
    job_titles.append(title)

job_titles = job_titles[:20]
job_titles

['Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'S&C GN - Data&AI - Resources - Analyst',
 'Data Analyst - pan India',
 'Lenovo - Data Analyst, Bengaluru',
 'Data Analyst - L3',
 'Data Analyst',
 'Data Analyst - YouAppi',
 'Hiring Data Analyst I Naukri.com I Infoedge I Bangalore Location',
 'Data Analyst',
 'Environment & Social Governance Data Analyst',
 'Client Data Analyst',
 'Online Data Analyst Odia Language',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst']

In [9]:
loc_tags = driver.find_elements(By.XPATH, '//span[contains(@class,"location")]')

for i in loc_tags:
    loc = i.text
    location.append(loc)
    
location = location[:20]
location

['Bengaluru',
 'Bengaluru',
 'Hyderabad, Gurugram, Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Hybrid - Hyderabad, Chennai, Bengaluru',
 'Hybrid - Bengaluru',
 'Hybrid - Bengaluru(Jigani)',
 'Bengaluru',
 'Hyderabad, Chennai, Bengaluru',
 'Gurugram, Bengaluru',
 'Bangalore Rural, Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Kolkata, Mumbai, New Delhi, Hyderabad, Pune, Chennai, Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru']

In [10]:
company_tags = driver.find_elements(By.XPATH, '//a[contains(@class,"comp-name")]')

for i in company_tags:
    comp = i.text
    company_names.append(comp)
    
company_names = company_names[:20]
company_names

['Capgemini',
 'Product based company',
 'S&P Global Market Intelligence',
 'ABB',
 'Accenture',
 'Infosys',
 'Lenovo',
 'Wipro',
 'Mirafra',
 'Affle',
 'Info Edge',
 'BNP Paribas',
 'Hsbc',
 'JPMorgan Chase Bank',
 'TELUS Digital AI Data Solutions',
 'Red Hat',
 'K12 Techno Services',
 'Flipkart',
 'Airbus',
 'Clairvoyant India']

In [11]:
desc_tags = driver.find_elements(By.XPATH, '//span[contains(@class,"job-desc")]')

for i in desc_tags:
    desc = i.text
    description.append(desc)
    
description = description[:20]
description

['Proficient in database object creation including tables, views, indexes etcExperience w...',
 '. Sr. Data Analyst, Job Responsibilities: Proficient in writing complex SQL queries for...',
 'Excellent communication, time-management, and multi-tasking skills. Proficient in secon...',
 'Proficient analytical and problem-solving skills with the ability to derive meaningful ...',
 'About The Role TBD Qualification TBD',
 'Experience Range: 5 to 18 years.',
 'Experience: 5 + Yrs, Machine learning :1+yr, Analytics: 3 + Yrs',
 'Design and carry out surveys and analyze survey data as per the customer requirement D...',
 'Looking to onboard skilled Data Analysts with 2 to 5 years of experience to join our te...',
 'Experience with handling large volumes of data in the cloud from different sources like...',
 'Urgent Hiring Data Analyst I Naukri.com I Bangalore Location Extract data from various...',
 'Analysis / Problem solving Very good with analytical and problem solving skills, should...',
 'Practical experience with SQL databases and cloud warehouse technologies such as BigQue...',
 'Enables thought leadership and a team who are risk aware, empowered, and feel accoun...',
 'This is a part-time long-term project and your work will be subject to our standard qua...',
 'Solid understanding of data quality concepts, validation techniques, and structured rep...',
 'Requirements: . 4 6 years of experience in Supply Chain Analytics, Inventory Planning, ...',
 'Hi, Looking for a smart data analyst who utilizes advanced analytical methods, includi...',
 'Engineer - Methods & Tools (Data Analyst)About The Team:Methods & Tools is a transvers...',
 'Required Skills & Qualifications 2-4 years of hands-on experience as a data analyst, p...']

In [12]:
exp_tags = driver.find_elements(By.XPATH, '//span[contains(@class,"expwdth")]')

for i in exp_tags:
    exp = i.text
    experience.append(exp)
    
experience = experience[:20]
experience

['0 Yrs',
 '8-13 Yrs',
 '3-5 Yrs',
 '4-9 Yrs',
 '4-8 Yrs',
 '6-11 Yrs',
 '4-7 Yrs',
 '4-8 Yrs',
 '2-6 Yrs',
 '2-5 Yrs',
 '1-3 Yrs',
 '7-9 Yrs',
 '1-5 Yrs',
 '0-5 Yrs',
 '0-3 Yrs',
 '2-4 Yrs',
 '4-6 Yrs',
 '7-12 Yrs',
 '4-6 Yrs',
 '2-4 Yrs']

In [14]:
posted_tags = driver.find_elements(By.XPATH, '//span[contains(@class,"job-post-day")]')

for i in posted_tags:
    post = i.text
    posted_day.append(post)
    
posted_day = posted_day[:20]
posted_day

['3 weeks ago',
 '3 weeks ago',
 '1 day ago',
 '2 weeks ago',
 '1 day ago',
 '1 week ago',
 'Today',
 '6 days ago',
 '2 weeks ago',
 '3+ weeks ago',
 '6 days ago',
 '2 weeks ago',
 'Today',
 '2 weeks ago',
 '1 day ago',
 '2 weeks ago',
 '1 week ago',
 '6 days ago',
 '1 week ago',
 '1 week ago']

In [15]:
df = pd.DataFrame({"Job Title": job_titles,"Company Name": company_names, "Job Location": location, "Experience Required": experience, "Job Description": description, "Posted Time": posted_day})

In [16]:
df

,Job Title,Company Name,Job Location,Experience Required,Job Description,Posted Time
0,Data Analyst,Capgemini,Bengaluru,0 Yrs,Proficient in database object creation includi...,3 weeks ago
1,Data Analyst,Product based company,Bengaluru,8-13 Yrs,". Sr. Data Analyst, Job Responsibilities: Prof...",3 weeks ago
2,Data Analyst,S&P Global Market Intelligence,"Hyderabad, Gurugram, Bengaluru",3-5 Yrs,"Excellent communication, time-management, and ...",1 day ago
3,Data Analyst,ABB,Bengaluru,4-9 Yrs,Proficient analytical and problem-solving skil...,2 weeks ago
4,S&C GN - Data&AI - Resources - Analyst,Accenture,Bengaluru,4-8 Yrs,About The Role TBD Qualification TBD,1 day ago
5,Data Analyst - pan India,Infosys,Bengaluru,6-11 Yrs,Experience Range: 5 to 18 years.,1 week ago
6,"Lenovo - Data Analyst, Bengaluru",Lenovo,"Hybrid - Hyderabad, Chennai, Bengaluru",4-7 Yrs,"Experience: 5 + Yrs, Machine learning :1+yr, A...",Today
7,Data Analyst - L3,Wipro,Hybrid - Bengaluru,4-8 Yrs,Design and carry out surveys and analyze surve...,6 days ago
8,Data Analyst,Mirafra,Hybrid - Bengaluru(Jigani),2-6 Yrs,Looking to onboard skilled Data Analysts with ...,2 weeks ago
9,Data Analyst - YouAppi,Affle,Bengaluru,2-5 Yrs,Experience with handling large volumes of data...,3+ weeks ago
10,Hiring Data Analyst I Naukri.com I Infoedge I ...,Info Edge,"Hyderabad, Chennai, Bengaluru",1-3 Yrs,Urgent Hiring Data Analyst I Naukri.com I Bang...,6 days ago
11,Data Analyst,BNP Paribas,"Gurugram, Bengaluru",7-9 Yrs,Analysis / Problem solving Very good with anal...,2 weeks ago
12,Environment & Social Governance Data Analyst,Hsbc,"Bangalore Rural, Bengaluru",1-5 Yrs,Practical experience with SQL databases and cl...,Today
13,Client Data Analyst,JPMorgan Chase Bank,Bengaluru,0-5 Yrs,Enables thought leadership and a team who are ...,2 weeks ago
14,Online Data Analyst Odia Language,TELUS Digital AI Data Solutions,Bengaluru,0-3 Yrs,This is a part-time long-term project and your...,1 day ago
15,Data Analyst,Red Hat,Bengaluru,2-4 Yrs,"Solid understanding of data quality concepts, ...",2 weeks ago
16,Data Analyst,K12 Techno Services,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",4-6 Yrs,Requirements: . 4 6 years of experience in Sup...,1 week ago
17,Data Analyst,Flipkart,Bengaluru,7-12 Yrs,"Hi, Looking for a smart data analyst who utili...",6 days ago
18,Data Analyst,Airbus,Bengaluru,4-6 Yrs,Engineer - Methods & Tools (Data Analyst)About...,1 week ago
19,Data Analyst,Clairvoyant India,Bengaluru,2-4 Yrs,Required Skills & Qualifications 2-4 years of ...,1 week ago